<p-toast></p-toast>
<div class="card mb-4">
  <div class="card-header pb-0">
    <h6>Produtos</h6>
  </div>
  <div class="card-body px-0 pt-0 pb-2" style="min-height: 80vh;">

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        </ng-template>

        <ng-template pTemplate="right">
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="products" [rows]="10" [paginator]="true" [globalFilterFields]="['nome','descricao','valor']"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Gerenciar Produtos</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Pesquise..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                <th pSortableColumn="descricao">Descrição <p-sortIcon field="descricao"></p-sortIcon></th>
                <th pSortableColumn="valor">Valor <p-sortIcon field="valor"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.nome}}</td>
                <td>{{product.descricao}}</td>
                <td>{{product.valor  | currency:'BRL'}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Um total de {{products ? products.length : 0 }} registros.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Produto" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="nome">Nome</label>
            <input type="text" pInputText id="nome" [(ngModel)]="product.nome" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !product.nome">Nome é obrigatório.</small>
        </div>
        <div class="p-field">
            <label for="descricao">Descrição</label>
            <textarea id="descricao" pInputTextarea [(ngModel)]="product.descricao" required rows="3" cols="20"></textarea>
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="valor">Valor</label>
                <p-inputNumber id="valor" [(ngModel)]="product.valor" mode="currency" currency="BRL" locale="pt-BR"></p-inputNumber>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  </div>
</div>
