<p-toast></p-toast>
<div *ngIf="formReady" class="main">
  <link href="/assets/login/login.css" rel="stylesheet">
  <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignup()">
        <label for="chk" aria-hidden="true">Registrar</label>
        <input type="text" formControlName="nome" name="txt" placeholder="Nome" required="">
        <input type="email" formControlName="email" name="email" placeholder="Email" required="">
        <input type="password" formControlName="senha" name="pswd" placeholder="Senha" required="">
        <button [disabled]="!signupForm.valid" type="submit">Registrar-se</button>
      </form>
    </div>

    <div class="login">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
        <label for="chk" aria-hidden="true">Entrar</label>
        <input type="email" formControlName="email" name="email" placeholder="Email" required="">
        <input type="password" formControlName="senha" name="pswd" placeholder="Password" required="">
        <button [disabled]="!loginForm.valid" type="submit">Entrar</button>
      </form>
    </div>
</div>
