<p-toast></p-toast>
<div class="card mb-4">
  <div class="card-header pb-0">
    <h6>Clientes</h6>
  </div>
  <div class="card-body px-0 pt-0 pb-2" style="min-height: 80vh;">

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        </ng-template>

        <ng-template pTemplate="right">
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="products" [rows]="10" [paginator]="true" [globalFilterFields]="['nome','cpf','endereco','bairro','cidade','estado']"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Gerenciar Clientes</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Pesquise..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                <th pSortableColumn="cpf">CPF <p-sortIcon field="cpf"></p-sortIcon></th>
                <th pSortableColumn="endereco">Endereço <p-sortIcon field="endereco"></p-sortIcon></th>
                <th pSortableColumn="bairro">Bairro <p-sortIcon field="bairro"></p-sortIcon></th>
                <th pSortableColumn="cidade">Cidade <p-sortIcon field="cidade"></p-sortIcon></th>
                <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.nome}}</td>
                <td>{{product.cpf}}</td>
                <td>{{product.endereco}}</td>
                <td>{{product.bairro}}</td>
                <td>{{product.cidade}}</td>
                <td>{{product.estado}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Um total de {{products ? products.length : 0 }} registros.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Cliente" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="nome">Nome</label>
            <input type="text" pInputText id="nome" [(ngModel)]="product.nome" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !product.nome">Nome é obrigatório.</small>
        </div>
        <div class="p-field">
            <label for="cpf">CPF</label>
            <input type="text" pInputText id="cpf" [(ngModel)]="product.cpf" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !product.cpf">Cpf é obrigatório.</small>
        </div>
        <div class="p-field">
            <label for="endereco">Endereço</label>
            <input type="text" pInputText id="endereco" [(ngModel)]="product.endereco" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !product.endereco">Endereço é obrigatório.</small>
        </div>
        <div class="p-field">
            <label for="bairro">Bairro</label>
            <input type="text" pInputText id="bairro" [(ngModel)]="product.bairro" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !product.bairro">Bairro é obrigatório.</small>
        </div>
        <div class="p-field">
            <label for="cidade">Cidade</label>
            <input type="text" pInputText id="cidade" [(ngModel)]="product.cidade" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !product.cidade">Cidade é obrigatório.</small>
        </div>
        <div class="p-field">
            <label for="estado">Estado</label>
            <input type="text" pInputText id="estado" [(ngModel)]="product.estado" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !product.estado">Estado é obrigatório.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  </div>
</div>
